@tailwind base;
@tailwind components;
@tailwind utilities;


body, html {
  font-family: 'Segoe UI', sans-serif;
  }
  
  .MuiTypography, 
  .MuiFormControlLabel-label, 
  .MuiInputBase-root, 
  .MuiButton-root {
    font-family: 'Segoe UI', sans-serif;
  }
  
  .nz-searchcombo .MuiOutlinedInput-notchedOutline{
    border-color: var(--font-color) !important;
  }
  
  
   .nz-searchcombo svg{
    color: white !important;
   }
  
   .Mui-focused{
    color: rgb(255, 255, 255) !important;
    line-height: 2.4375em;
    font-size: 12px;
   }
   .MuiInputBase-input .MuiOutlinedInput-input h1 {
    font-size: 12px;
  }
  .MuiSelect-select .MuiSelect-outlined .MuiInputBase-input .MuiOutlinedInput-input{
    font-size: 12px;
    padding: 0px 5px
  }
  .css-7u6v33-MuiTabs-root{
    min-height: 25px;
  }
  
  .css-1kdujqz-MuiFormControlLabel-root .MuiFormControlLabel-label {
    color: black;
}
  
  .rc-tree .rc-tree-switcher-noop,
  .rc-tree .rc-tree-switcher_open,
  .rc-tree .rc-tree-switcher_close
   {
    background: none !important; 
    width: 0; 
    height:0 ; 
  }

  .custom-rc-tree .rc-tree-switcher {
    display: none;
  }
  
  
  .custom-rc-tree .rc-tree-node .rc-tree-switcher {
   color: var(--font-color);
  }
  
  
  .custom-rc-tree .rc-tree-node.rc-tree-node-leaf .rc-tree-switcher {
    display: none;
  }
  .rc-tree-node-selected{
    /* color: var(--font-color); */
    background-color: var(--font-color) !important;
    box-shadow: none !important;
    
  }

  /* Ensure expand/collapse icons also match the selected node styles */
  .custom-rc-tree .rc-tree-node-selected .rc-tree-switcher {
    color: black !important; /* Set icon color */
    /* background-color: #efefef !important;  Set background color */
  }
  
  /* Set rc-tree width to full */
  .custom-rc-tree {
    width: 95%; /* Make the tree take full width */
  }
  
  /* Additional styling for rc-tree node content */
  .custom-rc-tree .rc-tree-node-content-wrapper {
    font-size: 12px; 
    font-family: "Segoe UI", sans-serif; 
  }
  
  /* Custom global styles */
  .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: rgb(255, 255, 255) !important;
  }
  
  .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
    color: rgb(255, 255, 255) !important;
  }
  
  .css-ptiqhd-MuiSvgIcon-root {
    color: white !important;
  }
  
  .css-1yjog0e-MuiTableCell-root {
    color: white !important;
  }
  
  
  .custom-rc-tree .rc-tree-switcher_open{
    background-color: #efefef;
  }
  
  .MuiTabs-root .MuiTabs-indicator{
    width: 0px;
  }
  .css-1oy0tqq-MuiButtonBase-root-MuiTab-root.Mui-selected{
    color: #ffffff;
  }
  
  /* Style for selected node */
  .custom-rc-tree  .rc-tree-treenode-selected{
    background-color: var(--font-color) !important; /* Set background color */
    color: black !important; /* Set text color */
    width: 100%; 
    line-height: 0px;
    min-height: 10px !important;
    display: flex !important;
    align-items: center;
    position: unset !important;
  }

  .rc-tree-treenode{
    display: flex !important;
    align-items: center;
    width: 100% !important;
  }

  .rc-tree{
    width: 100%;
  }
  
  /* Ensure expand/collapse icons also match the selected node styles */
  .custom-rc-tree .rc-tree-node-selected .rc-tree-switcher {
    color: black !important; 
    background-color: #efefef !important;  
  }
  
  /* Ensure icons inside selected nodes match the background */
  .custom-rc-tree .rc-tree-node-selected .rc-tree-iconEle {
    background-color: #efefef !important; /* Match background color */
  }
  
  /* Set icon styles for selected nodes */
  .custom-rc-tree .rc-tree-node-selected .css-i4bv87-MuiSvgIcon-root {
    color: black !important; /* Set icon color */
    background-color: #efefef !important;  /* Set background color */
  }
  
  /* Set font color to white when the tab is selected */
  .MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary.Mui-selected {
    color: rgb(168, 202, 230) !important; 
  }
  
  
  .MuiTabs-indicator.css-1aquho2-MuiTabs-indicator {
    background-color: white !important; 
  }
  
  .rc-tree .rc-tree-treenode .rc-tree-node-content-wrapper{
   position: unset !important;
   display: flex !important;
   align-items: center !important;
  }
  .MuiTabs-scroller{
    margin-top: 0px;
  }

  .rc-tree .rc-tree-treenode{
    line-height: 0px;
  }
  
  .MuiFormControlLabel-root .MuiFormControlLabel-label{
    font-size: 12px;
    font-family: 'Segoe UI', sans-serif;
  }
  .css-yp69yl-MuiButtonBase-root-MuiTab-root{
  
    min-height: 10px !important
  }
  
  .css-1wy54b3-MuiButtonBase-root-MuiTab-root{
    min-height: 10px !important
  
  }
  
  .svg path {
    fill: var(--font-color); 
  }




/* General settings */


/* Container styles */
.setting-container {
  background-color: var(--bg-color);
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: var(--font-color);
  padding: 5px;
  box-sizing: border-box;
  overflow: hidden;
}


/* Box styles */
.setting-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 20px;
}

/* Typography styles */
 .setting-text {
  font-size: 12px;
  font-family: 'Segoe UI', sans-serif;
  color: var(--font-color);
 }
 .css-1edfpdg-MuiTypography-root{
  font-size: 12px;
  font-family: 'Segoe UI', sans-serif;
  color: var(--font-color);
 }
.css-1edfpdg-MuiTypography-root{
  font-size: 12px;
  font-family:'Segoe UI', sans-serif ;
}
/* Link styles */
.setting-link {
  font-size: 12px;
  color: rgb(154, 211, 233);
  text-decoration: none;
}

.setting-link:hover {
  text-decoration: underline;
}

/* TextField styles */
.custom-textfield {
  width: 100%;
}

.custom-textfield .MuiInputLabel-root {
  font-size: 12px;
  font-family: 'Segoe UI', sans-serif;
  color: var(--font-color);
}

.custom-textfield .MuiOutlinedInput-root {
  font-size: 12px;
  font-family: 'Segoe UI', sans-serif;
  color: var(--font-color);
}

.custom-textfield .MuiOutlinedInput-root fieldset {
  border-color: var(--font-color);
}

.custom-textfield .MuiOutlinedInput-root:hover fieldset {
  border-color: var(--font-color);
}

.custom-textfield .MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: var(--font-color);
}

.custom-textfield .MuiInputBase-input {
  padding: 12px 12px;
}

/* Button styles */
.custom-button {
  padding: 5px 15px;
  align-self: center;
  background-color: #87CEEB;
  color: var(--font-color);
  font-size: 12px;
  font-family: 'Segoe UI', sans-serif;
}

.custom-button:hover {
  background-color: #87CEEB;
}



.css-46bh2p-MuiCardContent-root:last-child{
  padding-bottom: 16px !important;
}

.MuiTableBody-root{
  display: flex !important;
  flex-direction: column;
  gap: 5px;

}
.MuiTableRow-root{
  display: flex !important;
  width: 100%;
  border: 1px solid white !important;
  border-radius: 0px !important;
}

.MuiTableCell-root{
  width: 50%;
  border: none !important;
 
}

.css-c49uqv-MuiPaper-root-MuiTableContainer-root{
  border-radius: 0px !important;
  background-color: #778899 !important;
}


.css-1xomo8h-MuiPaper-root-MuiPopover-paper-MuiMenu-paper{
  width: 100vw;
  
}

.css-99wn1p-MuiList-root-MuiMenu-list{
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.css-763qkj-MuiTypography-root{
  margin-top: 0px !important;
  padding-right: 0px !important;
}
.css-1q964xs-MuiFormLabel-root-MuiInputLabel-root{
  top : -5px !important;
}


.search-lbl>.MuiInputBase-root>.MuiOutlinedInput-notchedOutline>legend>span {
  width: 38px !important;
}

.MuiButtonBase-root MuiMenuItem-root MuiMenuItem-gutters MuiMenuItem-root MuiMenuItem-gutters css-1qhvnat-MuiButtonBase-root-MuiMenuItem-root{
min-height: auto;
}

.MuiMenu-list{
  display: flex;
  flex-direction: column;
  gap: 0px;
}






@media only screen and (max-width: 600px) {
  .MuiMenu-list>.MuiMenuItem-root{
    min-height: auto !important;
    
  }
}