@tailwind base;
@tailwind components;
@tailwind utilities;


.container {
  background-color: var(--bg-color);
  height: 100vh;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  overflow-y: auto;
  justify-content: flex-start;
  font-family: 'Segoe UI', sans-serif;
  align-items: center;
  color: var(--font-color);
  box-sizing: border-box;
  padding: 9px;
  width: 100%; 
}

@media (min-width: 600px) {
  .container {
    width: 90%;
  }
}

@media (min-width: 900px) {
  .container {
    width: 100%; 
  }
}


body, html {
  font-family: 'Segoe UI', sans-serif;
  }
  
  .MuiTypography, 
  .MuiFormControlLabel-label, 
  .MuiInputBase-root, 
  .MuiButton-root {
    font-family: 'Segoe UI', sans-serif;
  }
  
  .nz-searchcombo .MuiOutlinedInput-notchedOutline{
    border-color: var(--font-color) !important;
  }
  
  
   .nz-searchcombo svg{
    color: white !important;
   }
  
   .Mui-focused{
    color: rgb(255, 255, 255) !important;
    line-height: 2.4375em;
    font-size: 12px;
   }
   .MuiInputBase-input .MuiOutlinedInput-input h1 {
    font-size: 12px;
  }
  .MuiSelect-select .MuiSelect-outlined .MuiInputBase-input .MuiOutlinedInput-input{
    font-size: 12px;
    padding: 0px 5px
  }
  
  
  
  .rc-tree .rc-tree-switcher-noop,
  .rc-tree .rc-tree-switcher_open,
  .rc-tree .rc-tree-switcher_close
   {
    background: none !important; 
    width: 0; 
    height:0 ; 
  }
  
  .css-c6jp11-MuiButtonBase-root-MuiMenuItem-root {
    min-height: auto !important;
  }
  
  
  
  .custom-rc-tree .rc-tree-switcher {
    display: none;
  }
  
  
  .custom-rc-tree .rc-tree-node .rc-tree-switcher {
    display: inline-block;
    background-color: #efefef;
  }
  
  
  .custom-rc-tree .rc-tree-node.rc-tree-node-leaf .rc-tree-switcher {
    display: none;
  }
  
  /* Style for selected node */
  .custom-rc-tree .rc-tree-node-selected {
    background-color: #efefef !important; /* Set background color */
    color: black !important; /* Set text color */
    width: 100%; /* Ensure full width selection */
  }
  
  /* Ensure expand/collapse icons also match the selected node styles */
  .custom-rc-tree .rc-tree-node-selected .rc-tree-switcher {
    color: black !important; /* Set icon color */
    background-color: #efefef !important;  /* Set background color */
  }
  
  /* Set rc-tree width to full */
  .custom-rc-tree {
    width: 100%; /* Make the tree take full width */
  }
  
  /* Additional styling for rc-tree node content */
  .custom-rc-tree .rc-tree-node-content-wrapper {
    font-size: 12px; /* Adjust font size */
    font-family: "Segoe UI", sans-serif; /* Use Segoe UI font */
  }
  
  /* Custom global styles */
  .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: white !important;
  }
  
  .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
    color: white !important;
  }
  
  .css-ptiqhd-MuiSvgIcon-root {
    color: white !important;
  }
  
  .css-1yjog0e-MuiTableCell-root {
    color: white !important;
  }
  
  
  .custom-rc-tree .rc-tree-switcher_open{
    background-color: #efefef;
  }
  
  .MuiTabs-root .MuiTabs-indicator{
    width: 0px;
  }
  .css-1oy0tqq-MuiButtonBase-root-MuiTab-root.Mui-selected{
    color: #ffffff;
  }
  
  /* Style for selected node */
  .custom-rc-tree .rc-tree-node-selected {
    background-color: #efefef !important; /* Set background color */
    color: black !important; /* Set text color */
    width: 100%; /* Ensure full width selection */
    line-height: 0px;
    min-height: 10px !important;
  }
  
  /* Ensure expand/collapse icons also match the selected node styles */
  .custom-rc-tree .rc-tree-node-selected .rc-tree-switcher {
    color: black !important; /* Set icon color */
    background-color: #efefef !important;  /* Set background color */
  }
  
  /* Ensure icons inside selected nodes match the background */
  .custom-rc-tree .rc-tree-node-selected .rc-tree-iconEle {
    background-color: #efefef !important; /* Match background color */
  }
  
  /* Set icon styles for selected nodes */
  .custom-rc-tree .rc-tree-node-selected .css-i4bv87-MuiSvgIcon-root {
    color: black !important; /* Set icon color */
    background-color: #efefef !important;  /* Set background color */
  }
  
  /* Set font color to white when the tab is selected */
  .MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary.Mui-selected {
    color: white !important; /* Set text color to white */
  }
  
  
  .MuiTabs-indicator.css-1aquho2-MuiTabs-indicator {
    background-color: white !important; /* Set indicator background color to white */
  }
  
  .rc-tree .rc-tree-treenode .rc-tree-node-content-wrapper{
    vertical-align: middle;
  
  }
  .MuiTabs-scroller{
    margin-top: 0px;
  }
  span.rc-tree-iconEle{
    margin-top: 4px !important;
  }
  
  /* For Webkit browsers */
  ::-webkit-scrollbar {
    width: 5px; /* Adjust width of the scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); /* Scrollbar thumb color */
    border-radius: 3px; /* Rounded corners for the scrollbar thumb */
  }
  
  ::-webkit-scrollbar-track {
    background: var(--bg-color); /* Track color */
  }
  .rc-tree .rc-tree-treenode{
    line-height: 0px;
  }
  
  .MuiFormControlLabel-root .MuiFormControlLabel-label{
    font-size: 12px;
    font-family: 'Segoe UI', sans-serif;
  }
  .css-yp69yl-MuiButtonBase-root-MuiTab-root{
  
    min-height: 26px !important
  }
  
  .css-1wy54b3-MuiButtonBase-root-MuiTab-root{
    min-height: 26px !important
  
  }
  
  .svg path {
    fill: var(--font-color); /* This sets the `currentColor` of the SVG */
  }